.wrapper {
    margin-bottom: 1rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: var(--font-size-s);
  padding: .8rem;
  border-radius: .4rem;
  background: var(--color-bg);
  transition: .2;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: var(--font-size-m);
  line-height: 1;
  padding-bottom: .5rem;
}

.error {
  color: #f31;
  font-size: var(--font-size-s);
  margin-top: var(--font-size-xs);
}